<acl>
    <page-veil-manage>
        <name>Services: Veil: Configuration</name>
        <patterns>
            <pattern>ui/veil/*</pattern>
            <pattern>api/veil/settings/*</pattern>
            <pattern>api/veil/service/*</pattern>
        </patterns>
    </page-veil-manage>
    <page-veil-status>
        <name>Services: Veil: Status</name>
        <patterns>
            <pattern>ui/veil/*</pattern>
            <pattern>api/veil/service/status</pattern>
            <pattern>api/veil/service/connections</pattern>
        </patterns>
    </page-veil-status>
</acl>
